::-moz-selection{ color: #fff; background:#c7a600; }
::selection{ color: #fff;	background:#c7a600; }
::-webkit-selection{ color: #fff;	background:#c7a600; }

a{
	color: #c7a600;
}
a:hover, a:focus {
	color: #c7a600;
}
h1.text-brand,
h2.text-brand,
h3.text-brand,
h4.text-brand,
h5.text-brand,
h6.text-brand,
p.text-brand,
.text-brand{
	color: #c7a600;
}
button, .button,
button.brand, .button.brand{
	background-color: #c7a600;
	border-color: #c7a600;
}
button:hover, button:focus, .button:hover, .button:focus ,
button.brand:hover, button.brand:focus, .button.brand:hover, .button.brand:focus {
	background-color: #c7a600;
}
button.ghost, .button.ghost {
	background-color: transparent;
}
button.ghost.brand, .button.ghost.brand {
	border-color: #c7a600;
    color: #c7a600;
}
button.ghost.brand:hover, button.ghost.brand:focus, .button.ghost.brand:hover, .button.ghost.brand:focus {
	background-color: #c7a600;
    color: #fff;
}
.spinner{
	background-color: #c7a600;
}
.background-gradient{
	background: -webkit-linear-gradient(90deg, #c7a600 10%, #c7a600 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #c7a600 10%, #c7a600 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #c7a600 10%, #c7a600 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #c7a600 10%, #c7a600 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #c7a600 10%, #c7a600 90%); /* W3C */
}
.icon.brand{
	color: #c7a600;
}
.top-bar .top-bar-section ul li.active > a {
	background: #c7a600;
}
.top-bar-section ul li > a.button.brand {
	background-color: #c7a600;
	border-color: #c7a600;
}
.top-bar-section ul li > a.button.brand:hover, .top-bar-section ul li > a.button.brand:focus {
	background-color: #c7a600;
}
@media only screen and (min-width: 40.063em){
	.top-bar .top-bar-section li.active:not(.has-form) a:not(.button) {
		background: #c7a600;
	}
}
.navigation-white .top-bar .top-bar-section li.active:not(.has-form) a:not(.button) {
	color: #c7a600;
}
.section-title h2:after{
	background: #c7a600;
}
.subsection.brand{
	background: #c7a600;
}
.team-person .team-person-info{
	background: rgb(246, 36, 89);
	background: rgba(246, 36, 89, .95);
}
.skills-bar li span {
    background: #c7a600;
}
.service-block .service-item .service-icon{
	color: #c7a600;
}
.service-block .service-item:hover{
	background: #c7a600;
}
.statistic-block .statistic-item .statistic-icon{
	color: #c7a600;
}
.filter.active:after{
	background: #c7a600;
}
.pricing-table.brand .title{
	background: #c7a600;
}
.work-item a .work-info{
	background: rgb(246, 36, 89);
	background: rgba(246, 36, 89, .95);
}
.post .post-title a:hover{
    color: #c7a600;
}
.footer a:active,
.footer a:hover{
	color: #c7a600;
}

.owl-theme .owl-controls .owl-page span{
	background: #c7a600;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #c7a600;
}