body {
	margin: 0;
	background-color: #aaa;
	color: #000;
	/*font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;*/
	font-size: 80%;
	font-weight: 100;
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
}

.shadow {
	box-shadow: 0px 0px 20px 0px #333;
}

.logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
	width: 60%;
	margin-left:20%;
}

.logo-img {
	max-width:100%;
	max-height:100%;
}

.mainContent {
	padding: 2%;
	width: 56%;
	background-color: white;
	margin-left: 20%;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 25px auto;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff;
  font-size: 1px;
  line-height: 0;
  overflow: visible;
}

.family-name {
	margin-bottom: 1em;
	background-color: #890000;
	color: #fff;
	padding: 1em;
	font-size: 1.8em;
	font-weight: 100;
	font-family: "Minion Pro", Georgia, "Times New Roman", Times, serif;
}

.treeContent {
	overflow: auto;
	overflow-y: hidden;
	border: 2px solid #890000;
}

.google-visualization-orgchart-node {
	background: -webkit-gradient(linear, left top, left bottom, from(#7692a7), to(#1B6AA5));
	border: 2px solid black;
	color: white;
}

.google-visualization-orgchart-lineright {
	border-right: 1px solid black;
}

.google-visualization-orgchart-linebottom {
	border-bottom: 1px solid black;
}

.google-visualization-orgchart-lineleft {
	border-left: 1px solid black;
}

/* Below is copied from the main website */

#bottomCap {
	clear: both;
	min-height: 28px;
	padding: 1.5em 30px 1em;
	text-align: center;
	width: 60%;
	margin-left: 18%;
	font-size: 0.8em;
	line-height:  1.8em;
	font-weight: 100;
}
.red-link {
	color: #890000;
	font-weight: 500;
	text-decoration: underline;
}

#footer{background:#1e1c1a;color:#a5a5a5;height:130px;padding:40px 0 0;text-align:center;width:100%;line-height:1.8em;}
#footer a{color:#ac2626;text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#footer p{margin: 0.3em 0;}
